#container {
  width:100vw;
  height:100vh;
  display:flex;
}

#calc {
  margin:auto;
  display:inline-grid;
  grid-template:repeat(6, 70px)/repeat(4, 70px);
  border:1px solid;
  padding:5px;
  background:black;
  div {
    background:#4d4d4d;
    color:white;
    border:1px solid black;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    font-family: 'Courier Prime', monospace;
    font-size:1.5rem;
    &:hover {
      // background:gray;
      border:1px solid #979797;
    }
    &:active {
      box-shadow:inset  0 0 4px 4px black;
    }
    cursor:pointer;
  }
  #display {
    display:grid;
    grid-column:1/-1;
    justify-content:initial;
    text-align:right;
    grid-template-rows: 2rem 2rem;
    background:black;
    gap:2px;
    p {
      border:1px solid #979797;
      margin:0;
      padding-right:10px;
      font-family:Share Tech Mono;
    }
    .input {
      grid-row:1/2;
      font-size:1.2rem;
      align-self:center;
      height:1.5rem;
      padding:2px;
      padding-right:10px;
      overflow-x: auto;
    }
    .output {
      grid-row:2/3;
      padding:2px;
      align-self:center;
      height:1.5rem;
    }
  }
  #clears {
    grid-column:1/3;
    display:flex;
    flex-direction:row;
    align-items:center;
    &:hover {
      box-shadow:none;
      border:none;
    }
    #back {
      padding:20px 10px 20px 10px;
      background: rgb(132, 47, 47);
      margin:0;
      &:hover {
      border:1px solid #979797;
      }
      &:active {
        box-shadow:inset  0 0 4px 4px black;
      }
    }
    #clear {
      background: rgb(172, 57, 57);
      padding:20px 38px 20px 35px;
      margin:0;
      &:hover {
      border:1px solid #979797;
      }
      &:active {
        box-shadow:inset  0 0 4px 4px black;
      }
    }
  }
  #equals {
    grid-row:5/-1;
    grid-column:4/-1;
    background: rgb(0, 68, 102);  
  }
  #zero {
    grid-column:1/3
  }
  #divide, #multiply, #subtract, #add {
    background: rgb(102, 102, 102);
  }
}